dash
dash-core-components
dash-html-components
dash-renderer
dask
fbmessenger
fbprophet
Fiona
Flask
Flask-Compress
Flask-Cors==3.0.4
Flask-Migrate==2.1.1
Flask-Script
Flask-SeaSurf==0.2.2
Flask-SQLAlchemy==2.3.2
future==0.16.0
gast==0.2.0
geojsonio==0.0.3
geopandas==0.3.0
graphviz==0.8.3
greenlet==0.4.13
grpcio==1.11.0
gunicorn==19.8.1
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.1.0
Jinja2==2.10
jmespath==0.9.3
jsonpickle==0.9.6
jupyter
jupyter-client
jupyter-console
jupyter-core
Keras==2.1.3
lxml==4.1.1
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.1.1
mistune==0.8.3
msgpack-numpy==0.4.1
msgpack-python==0.5.6
munch==2.3.2
murmurhash==0.28.0
nbconvert==5.3.1
nbformat==4.4.0
nbsphinx==0.3.3
networkx==2.1
nltk==3.3
nose==1.3.7
notebook
numba
numpy==1.14.0
packaging==17.1
pandas==0.22.0
pandas-datareader==0.6.0
pandoc==1.0.2
pandocfilters==1.4.2
patsy==0.5.0
pew==1.1.2
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.1.1
pipenv==11.0.2
plac==0.9.6
plotly==2.6.0
ply==3.11
preshed==1.0.0
prettytable==0.7.2
probableparsing==0.0.1
progressbar2==3.34.3
prompt-toolkit==1.0.15
protobuf==3.5.2.post1
psutil==5.0.1
psycopg2==2.7.4
ptyprocess==0.5.2
py2neo==3.1.2
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycparser==2.18
pycrypto
pycups==1.9.73
PyDispatcher==2.0.5
pydotplus==2.0.2
pygam==0.3.0
pyglet==1.3.1
Pygments==2.2.0
pygobject==3.24.1
pykwalify==1.6.0
PyOpenGL==3.1.0
pyOpenSSL==17.5.0
pyparsing==2.2.0
pyproj==1.9.5.1
pystan==2.17.1.0
redis==2.10.6
regex==2017.4.5
requests==2.18.1
requests-file==1.4.3
requests-ftp==0.3.1
rq==0.10.0
scikit-learn==0.19.1
scikit-sparse==0.4.2
scipy==1.0.0
Scrapy==1.5.0
Shapely==1.6.4.post1
simplegeneric==0.8.1
simplejson==3.11.1
skfeature==1.0.0
sklearn-crfsuite==0.3.6
snowballstemmer==1.2.1
spacy==2.0.11
SQLAlchemy==1.2.7
statsmodels==0.8.0
tabulate==0.8.2
tensorboard==1.8.0
tensorflow==1.8.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
thinc==6.10.2
tornado==4.5.3
Twisted==17.9.0
usaddress==0.5.10
virtualenv==15.1.0
virtualenv-clone==0.3.0
Werkzeug==0.14.1
xgboost==0.71
